body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.swiper_container{
  display: flex;
  justify-content: space-around;
  background-color: coral;
  width: 40%;
  overflow: hidden;
  height: auto;
  margin: 0 auto 0 auto;


}

.swiper_wrapper{
  position: relative;
display: flex;
align-items: center;
justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color:rgba(156, 84, 84, 0.438);

  
}

.item_one{
  width:100%;
  flex-shrink: 0;
  height: 180px;
  background-color: darkgreen;
  

}

.item_two{
  width:100%;
  flex-shrink: 0;
  height: 180px;
  background-color: rosybrown;
  

}

.item_three{
  width:100%;
  flex-shrink: 0;
  height: 180px;
  background-color: rgb(15, 160, 170);
  

}

.item_four{
  width:100%;
  flex-shrink: 0;
  height: 180px;
  background-color: rgb(233, 47, 14);

}